.sign-up__modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9001;
    
    .sign-up__wrapper {
        position: relative;
        width: 600px;
        padding: 50px 53px 28px 53px;
        background: linear-gradient(180deg, #06476B 0%, #000000 100%);
        border-radius: 54px;
        z-index: 999;
        .sign-up__header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 38px;
            .sign-up__lead {
                font-size: 24px;
                line-height: 31px;
                text-align: center;
                color: #FFFFFF;
            }
            
            .sign-up__close {
                position: absolute;
                background-color: transparent;
                border: transparent;
                cursor: pointer;

                right: 0;
            }
        }
                    
        .sign-up__content {
            .sign-up__input-tel {
                width: 100%;
                height: 48px;
                outline: none;
                padding: 10px;
                font-size: 20px;
                border-radius: 6px;
                margin-bottom: 130px;
                border: 1px solid #fff;
                color: #fff;
                background-color: transparent;
                &:focus {
                    border: 1px solid #757575;
                }
            }

            .sign-up__text {
                margin: 0 auto 18px auto;
                width: 300px;
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                color: #737373;
            }
            .sign-up__btn {
                position: relative;
                border-radius: 6px;
                display: block;
                margin: 0 auto;
                padding: 10px 20px;
                border: transparent;
                background-color: transparent;
                cursor: pointer;
                color: #7E7C7C;
                border: 2px solid #FFFFFF;
                transition: all 0.3s ease;
               &:hover {
                   background-color: #fff;
                   font-weight: bold;
                   color: #000;
               }
            }
            
        }
    }

    .sign-up-code__wrapper {
        display: none;
        position: relative;
        width: 600px;
        padding: 50px 53px 28px 53px;
        background: linear-gradient(180deg, #06476B 0%, #000000 100%);
        border-radius: 54px;
        z-index: 999;

        .sign-up-code__header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 70px;
            color: #fff;

            .prev-btn {
                position: absolute;
                left: -10px;
                background-color: transparent;
                border: transparent;
                img {
                    width: 30px;
                }
            }

            .sign-up__close {
                position: absolute;
                background-color: transparent;
                border: transparent;
                cursor: pointer;
                right: 0;
            }
            .sign-up-code__lead {
                font-family: PT Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 31px;
            }
        }

        .sign-up-code__content {
            text-align: center;
            .sign-up-code__input {
                width: 100px;
                height: 100px;
                margin: 5px;
                background: #C4C4C4;
                border-radius: 14px;
                font-size: 48px;
                text-align: center;
                outline-color: #462a2a;
                margin-bottom: 75px;
            }

            .sign-up-code__text {
                font-family: PT Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                color: #9C9C9C;
            }

            .sign-up-code__timer {
                font-family: PT Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: #9A9A9A;
            }
        }
    }
}