.new-products-section {
    padding: 50px 0;
    .new-products__lead {
        font-family: 'Podkova', sans-serif;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .new-products__line {
        width: 120px;
        margin: 0 auto 50px auto;
        background-color: transparent;
        height: 0;
        border: 1px solid #FFFFFF;
        margin-bottom: 80px;
    }

    .new-products__list {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .home-channel__item-img {
            width: 100%;
            height: 325px;
        }
    }
}