@import "../../Assets/scss/mixens.scss";

.season-section {
    .season-section__content {
        
        padding: 30px 65px;
        .season-section__lead {
            font-family: 'Podkova', sans-serif;
            font-weight: 900;
            font-size: 36px;
            line-height: 48px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 35px;
        }

        .season-content__line {
            width: 120px;
            margin: 0 auto 50px auto;
            background-color: transparent;
            height: 0;
            border: 1px solid #FFFFFF;
        }

        
            .season-list__item {
                text-align: center;
                margin: 10px;
                .season-item__img {
                    margin-bottom: 25px;
                    width: 100%;
                    max-width: 260px;
                }

                .season-list__link {
                    text-decoration: none;

                }

                .season-item__lead {
                    font-family: 'Playfair Display SC', serif;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                }

                .season-item__text {
                    font-size: 16px;
                    line-height: 16px;
                    color: #D0D0D0;
                }
            }

            .slider-wrap {
                position: relative;
                .carusel-prev {
                    position: absolute;
                    top: 50%;
                    left: -50px;
                    background-color: transparent;
                    border: transparent;
                    img {
                        display: block;
                    }
                }
            
                .carusel-next {
                    position: absolute;
                    top: 50%;
                    right: -50px;
                    background-color: transparent;
                    border: transparent;
                    img {
                        display: block;
                        transform: rotate(180deg);
                    }
                }  
            }
            
        
    }

    .season-section__image__wrap {
        position: relative;
        z-index: 0;

        .season-section__image {
            width: 100%;
        }
        .season-section__image-content {
            z-index: 1;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            .season-image__lead {
                font-size: 36px;
                line-height: 36px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
    
            .season-image__link {
                border: 2px solid #000;
                text-decoration: none;
                color: #000;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                padding: 10px 30px;
                transition: all 0.3s ease;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        
    }
    
}

@include breakpoint-down (1024px) {
    .season-section {
        .season-section__content {
            
            padding: 10px 30px;
            .season-section__lead {
                font-size: 32px;
                line-height: 1.5;
                margin-bottom: 10px;
            }
    
            .season-content__line {
                margin: 0 auto 20px auto;
            }
                .season-list__item {

                    .season-item__img {
                        margin-bottom: 15px;
                    }
                    .season-item__lead {
                        font-size: 16px;
                        line-height: 1.5;
                    }
    
                    .season-item__text {
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
    
                .slider-wrap {
                    .carusel-prev {
                        left: -30px;
                    }
                
                    .carusel-next {
                        right: -30px;
                    }  
                }
                
            
        }
    
        .season-section__image__wrap {
    
            .season-section__image-content {
                bottom: 12px;
                .season-image__lead {
                    font-size: 28px;
                    line-height: 1.5;
                    margin-bottom: 10px;
                }
        
                .season-image__link {
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
            
        }
        
    }
}

@include breakpoint-down (785px) {
    .season-section {
        .season-section__content {
            
            padding: 0px 40px;
            .season-section__lead {
                font-size: 28px;
                margin-bottom: 5px;
            }
    
            .season-content__line {
                margin: 0 auto 10px auto;
            }
                .season-list__item {
                    margin: 2px;
                    .season-item__img {
                        margin-bottom: 5px;
                    }
                    .season-item__lead {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
    
                    .season-item__text {
                        font-size: 12px;
                    }
                }
    
                .slider-wrap {
                    .carusel-prev {
                        left: -35px;
                        img {
                            width: 35px;
                        }
                    }
                
                    .carusel-next {
                        right: -35px;
                        img {
                            width: 35px;
                        }
                    }  
                }
                
            
        }
    
        .season-section__image__wrap {
    
            .season-section__image-content {
                bottom: 18px;
                .season-image__lead {
                    font-size: 22px;
                }
        
                .season-image__link {
                    font-size: 14px;
                    padding: 6px 20px;
                }
            }
            
        }
        
    }
}

@include breakpoint-down (480px) {
    .season-section {
        .season-section__content {
            padding: 10px 45px;
            .season-section__lead {
                font-size: 26px;
                margin-bottom: 10px;
            }
    
            .season-content__line {
                margin: 0 auto 20px auto;
            }
                .season-list__item {
                    .season-item__img {
                        margin-bottom: 10px;
                    }
                }
    
                .slider-wrap {
                    .carusel-prev {
                        left: -25px;
                        padding: 0;
                        img {
                            width: 25px;
                        }
                    }
                
                    .carusel-next {
                        right: -25px;
                        padding: 0;
                        img {
                            width: 25px;
                        }
                    }  
                }
                
            
        }
    
        .season-section__image__wrap {
            .season-section__image-content {
                bottom: 12px;
                .season-image__lead {
                    font-size: 22px;
                }
        
                .season-image__link {
                    font-size: 14px;
                    padding: 6px 20px;
                }
            }
            
        }
        
    }
}

@include breakpoint-down (375px) {
    .season-section {
        .season-section__content {
            padding: 10px 40px;
            .season-section__lead {
                font-size: 26px;
                margin-bottom: 10px;
            }
    
            .season-content__line {
                margin: 0 auto 20px auto;
            }
                .season-list__item {
                    .season-item__img {
                        margin-bottom: 15px;
                    }
                }
    
                .slider-wrap {
                    .carusel-prev {
                        left: -25px;
                        padding: 0;
                    }
                
                    .carusel-next {
                        right: -25px;
                        padding: 0;
                    }  
                }
                
            
        }
        
    }
}