.collection-carusel {
    margin: 0 auto 30px auto;
    max-width: 1200px;

    .new-clothes__item {
        display: block;
        width: 100%;
        max-width: 260px;
        color: #fff;
        text-align: center;
        margin: 10px;

        .new-clothes__item-image {
            display: block;
            width: 100%;
            margin-bottom: 30px;
        }

        .new-collection__item-name {
            font-family: Playfair Display SC;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 10px;
        }
    }
}






