@import "../../Assets/scss/mixens.scss";

.site-header {
    padding-top: 10px;

    .site-header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 0;
    }

    .header-top {
        width: 100%;

        .header-top__left {
            margin-right: auto;

            .header-top__tel {
                font-size: 12px;
                line-height: 16px;
                color: #969696;
                margin-bottom: 55px;
            }

            .header-top__list {
                list-style-type: none;
                display: flex;
                align-items: center;

                .header-top__item {
                    padding: 0px;

                    .header-top__lang-link {
                        text-decoration: none;
                        color: #fff;
                        padding: 5px;
                        background-color: #285474;
                    }

                    .header-top__link-active {
                        background-color: #0b1e2c;
                    }
                }

                .header-top__item~.header-top__item {
                    margin-left: 15px;
                }

            }

            .toggler-menu {
                display: none;
            }

        }

        .site-logo__wrap {
            display: flex;
            align-items: center;
            justify-content: center;

            .site-logo__link {
                display: block;
                width: 250px;
                height: 60px;

                img {
                    width: 100%;
                }
            }
        }

        .header-top__right {
            display: flex;
            align-items: center;
            justify-content: right;
            position: relative;
            z-index: 1;
            margin-bottom: 50px;

            .header-lang__wrap {
                position: relative;

                .header-lang__btn {
                    background-color: transparent;
                    border: transparent;
                    color: #fff;
                    display: flex;
                    cursor: pointer;
                    margin-right: 10px;

                    img {
                        margin-right: 5px;
                    }
                }

                .modal-lang__select {
                    display: none;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    background-color: #fff;
                    z-index: 1;
                    padding: 5px;

                    .modal-lang__btn {
                        display: inline-block;
                        background-color: transparent;
                        border: transparent;
                        margin-bottom: 5px;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        margin: 5px 0;
                        cursor: pointer;

                        img {
                            max-width: 30px;
                            margin-right: 5px;
                        }
                    }
                }
            }


            .header-btn__box {
                display: flex;
                align-items: center;
                position: relative;
            }

            .header__btn {
                background-color: transparent;
                border: transparent;

                padding: 5px;
                font-size: 20px;
                line-height: 26px;
                color: #969696;
                cursor: pointer;

                svg {
                    display: block;
                    width: 32px;

                    path {
                        fill: #85BCFF;
                    }
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            .header__btn:not(:last-child) {
                margin-right: 15px;
            }

            .search-open__btn {

                svg {
                    display: block;
                    width: 32px;

                    path {
                        fill: #85BCFF;
                    }
                }
            }

            .search-input__wrap {
                display: none;
                padding: 0;
                position: absolute;
                background-color: #fff;
                left: -180px;
                top: 5px;
                border-radius: 6px;
                width: 228px;
                height: 40px;

                .search-btn {
                    position: absolute;
                    top: 0px;
                    left: 5px;
                    background-color: transparent;
                    border: transparent;
                    width: 10px;
                    height: 30px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }

                    svg {
                        width: 24px;
                        display: inline-block;

                        path {

                            fill: #000;
                        }
                    }
                }

                .search__input {
                    width: 100%;
                    border: transparent;
                    outline: none;
                    padding: 10px 0 10px 35px;
                    height: 40px;
                    font-size: 18px;
                    line-height: 23px;
                    color: rgba(0, 0, 0, 0.6);
                    background-color: #A3DEFF;
                    border-radius: 6px;
                }
            }
        }
    }

    .header-bottom {
        padding: 30px 0 0 0;
        width: 100%;
        background-color: #1f1f1f;
        display: flex;
        align-items: center;
        justify-content: center;

        .header-links-list {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .header-links-item {
                .header-link {
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    padding-bottom: 25px;
                    border-bottom: 4px solid transparent;
                    font-size: 17px;
                    line-height: 22px;
                    text-transform: uppercase;

                    &:hover {
                        border-bottom: 4px solid #fff;

                    }
                }
            }

        }
    }

}

.modal-link {
    display: none;
    background: linear-gradient(180deg, #06476B 0%, #000000 100%);
    backdrop-filter: blur(12px);
    transition: all 0.5s;
    width: 100%;
    height: 620px;
    position: absolute;
    z-index: 999;
    align-items: flex-start;
    justify-content: center;
    color: #fff;

    .modal-link__wrapper {
        padding: 60px 20px;
        display: flex;
        justify-content: space-between;

        .modal-wrapper__left {
            margin-right: 20px;

            .modal-clothes__categories {
                list-style-type: none;

                li {
                    margin-top: 5px;
                }
            }
        }

        .modal-wrapper__brand-box {

            padding: 10px;
            display: flex;
            margin-right: 150px;

            .modal-brands__wrapper__list {
                list-style-type: none;
                margin-right: 25px;

                li {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.link-unstyled {
    text-decoration: none;
    color: #fff;

}

.site-chat-bot {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 80px;
    height: 80px;
    background: rgba(90, 90, 90, 0.651);
    cursor: pointer;
    border: none;
    padding: 10px;
    z-index: 9999;
    border-radius: 50%;
    z-index: 999;
    box-shadow: 0 0 0 rgba(141, 141, 141, 0.4);
    animation: pulse 1s infinite;

    img {
        width: 100%;
        display: block;
    }

    &:hover {
        animation: none;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(194, 192, 184, 0.4);
        box-shadow: 0 0 0 0 rgba(138, 136, 131, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(173, 173, 169, 0);
        box-shadow: 0 0 0 10px rgba(116, 115, 111, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(160, 157, 149, 0);
    }
}

@include breakpoint-down (1024px) {

    .site-header {
        padding-top: 0;
        .site-header__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 0 0;
        }

        .header-top {

            .header-top__left {

                .header-top__tel {
                    display: none;
                }

                .header-top__list {
                    display: none;

                }

                .toggler-menu {
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    border: 3px solid transparent;
                    background: transparent;
                    border-radius: 10px;
                    cursor: pointer;
                    outline: none;
                    &:focus {
                        border: 3px solid #002;
                    }
                }
                .menuIcon {
                    display: block;
                    font-size: 36px;
                    color: #85BCFF;
                }
                .xIcon {
                    display: none;
                    font-size: 36px;
                    color: #85BCFF;
                }


            }

            .site-logo__wrap {
    
                .site-logo__link {
                    width: 180px;
                    height: auto;
                }
            }

            .header-top__right {
                margin-bottom: 0;

                .header-lang__wrap {

                    .header-lang__btn {
                        margin-right: 0;

                        img {
                            width: 32px;
                            margin-right: 5px;
                        }
                    }

                    .modal-lang__select {
                        padding: 4px;

                        .modal-lang__btn {
                            padding: 0;

                            img {
                                max-width: 25px;
                            }
                        }
                    }
                }



                .personal {
                    display: none;
                }

                .header__btn {

                    svg {
                        width: 22px;
                    }
                }

                .search-input__wrap {
                    top: 10px;
                    left: -140px;
                    width: 180px;
                    height: 20px;

                    .search-btn {
                        top: -5px;
                        left: 2px;
                        width: 10px;
                        height: 20px;
                        svg {
                            width: 16px;
                            display: inline-block;

                        }
                    }

                    .search__input {
                        font-size: 16px;
                        padding: 5px 0 5px 35px;
                        height: 30px;
                    }
                }
            }
        }

        .header-bottom {
            padding: 15px 0 0 0;

            .header-links-list {
                justify-content: space-between;

                .header-links-item {
                    .header-link {
                        padding-bottom: 15px;
                    }
                }

            }
        }

    }
}

@include breakpoint-down (685px) {

    .site-header {
        .header-bottom {
            display: none;
        }

    }
}

@include breakpoint-down (525px) {

    .site-header {

        .header-top {


            .header-top__right {

                .header-lang__wrap {
                    display: none;
                }


                .search-input__wrap {
                    left: -180px;
                    width: 220px;
                    height: 30px;
                }
                .search__input {
                    padding: 5px 0 5px 35px;
                    height: 20px;
                }
            }
        }

        

    }
    
}