.collection-section {

    .collection-image__wrap {
        .collection__image {
            width: 100%;
            max-width: 880px;
        }
    }
    
    .collection-section__content {
        
        padding: 100px;
        text-align: center;
        color: #fff;

        .collection-content__lead {
            font-family: 'Podkova', sans-serif;
            font-weight: 900;
            font-size: 36px;
            line-height: 48px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 22px;
        }

        .collection-content__line {
            width: 120px;
            height: 0px;
            border: 1px solid #FFFFFF;
            margin: 0 auto 40px auto;
        }

        .collection-content__text {
            font-size: 17px;
            line-height: 150%;
            text-align: center;
            margin-bottom: 65px;
        }

        .collection-content__link {
            border: 2px solid #fff;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            padding: 10px 30px;
            transition: all 0.3s ease;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }

}